<h1>Lista de Productos</h1>
<ul>
    {{#each payload}}
        <li>{{this.title}} - ${{this.price}} (ID: {{this._id}})</li>
    {{else}}
        <li>No hay productos disponibles</li>
    {{/each}}
</ul>